name: Production Deployment

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install firebase-tools
        run: yarn global add firebase-tools

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run Prettier
        run: yarn prettier

      - name: Run Linter
        run: yarn lint

      - name: Run Unit Tests
        run: yarn test:unit

      - name: Run Integration Tests
        run: yarn test:integration

      - name: Build
        run: yarn build

  deploy:
    name: Deploy to Production
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    environment:
      name: prod
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install functions dependencies
        run: cd functions && yarn install --frozen-lockfile

      - name: Create .env file
        run: echo "${{ secrets.ENV_FILE_PROD }}" > .env

      - name: Create functions .env file
        run: echo "${{ secrets.FUNCTIONS_ENV_PROD }}" > functions/.env

      - name: Build
        run: yarn build

      - name: Build functions
        run: cd functions && yarn build

      - name: Deploy to Firebase
        run: |
          yarn global add firebase-tools
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_PROD }}' > $HOME/gcloud-key.json
          export GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud-key.json
          firebase deploy --project ${{ secrets.FIREBASE_PROJECT_ID_PROD }}
